.plant-name, .plant-price {
  font-weight: bold;
}

@media (min-width: 1000px) {
  #plantDiv {
    display: grid;
    row-gap: 0px;
    column-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: start;
  }
  .plant-card {
    border-radius: 5px;
    background-color: #fff;
    color: #1E6B4E;
    font-weight: bold;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 400px;
    margin-bottom: 25px;
    overflow: hidden;
    padding: 0px 20px;
  }
  .plant-photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: auto;
    width: 260px;
    height: 260px;
    object-fit: contain;
    z-index: 1 !important;
  }
  .plant-name, .plant-price {
    font-weight: bold;
    font-size: 1.6vw;
    line-height: 28px;
  }
}

@media (min-width: 1520px) {
  .plant-name, .plant-price {
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
  }
}

@media (max-width: 999px) {
  #plantDiv {
    display: flex;
    white-space: nowrap;
    overflow: auto;
    column-gap: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .plant-card {
    border-radius: 5px;
    background-color: #fff;
    color: #1E6B4E;
    font-weight: bold;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 400px;
    margin-bottom: 25px;
    padding: 0px 20px;
  }
  .plant-photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    object-fit: contain;
    z-index: 1 !important;
  }
}
.plant-staff-favorite{
  margin-bottom: -20px;
}

.plant-staff-favorite img{
  z-index: 999999 !important;
  width: 127px;
  margin-bottom: -13px;
  margin-top: 3px;
  margin-left: -20px;
}

@media (min-width:300px) and (max-width: 500px) {
  .plant-data {
    width: 65vw !important;
  }
  .plant-name, .plant-price {
    font-size: 6vw;
    line-height: 30px;
  }
  .filter img {
    width: 25vw;
  }
}

@media (min-width:501px) and (max-width: 999px) {
  .plant-data {
    width: 35vw !important;
  }
  .plant-name, .plant-price {
    font-size: 3.8vw;
    line-height: 3.8vw;
  }
  .filter img {
    width: 15vw;
  }
}

.plant-photo {
  height: 80%;
  max-width: 50%;
  margin: auto;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 5px;
}

.plant-data {
  height: 20%
}

.flex img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media (max-width: 1200px) {
  .flex img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }
}

@media (min-width:1000px) and (max-width: 1110px) {
  .plant-name, .plant-price {
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 28px;
  }
}